*{
    margin: 0px;
}
.heading {
    background-color: black;
    height: 30px;
    color: white;
}
.heading > ul {
    list-style-type: none;
    padding-top: 5px;
}
.heading > ul > li {
    display: inline;
    margin-left: 20px;
}
.trending{
    color: aqua;
}
.login 
{
  float: right;
  margin-right: 100px;
  color: white;
  margin-top: -25px;
  font-weight: bold;
}
.banner
{
    float: right;
    margin-right: 190px;
    float: left;
    margin-left: 190px;
    margin-top: 20px;
}
.LIST > ul > li
{
  display: inline;
  margin-left: 15px;
  font-size: small;
}
.FACEBOOK
{
    color:blue;
}
.YOUTUBE
{
    color: red;
}
.TWITTER
{
    color: rgb(48, 71, 174);
}
.INSTAGRAM
{
    color: darkmagenta;
}
.SECTION
{
    border: solid 1px lightblue;
    margin-left: 100px;
    width: 100px;
    border-radius: 5px;
    margin-top: 50px;
}
.logo > img
{
    
    margin-left:350px;
    margin-top:-100 px;
    height: 60px;
    width: 600px;
}
hr
{
    border-width: 5px;
    border-color: #000000;
    margin-left: 55Px;
    margin-right: 130px;
}
.menu > ul > li
{
    margin-left: 50px;
    display: inline;
    margin-left: 10px;
    font-size: medium;
    border: solid lightgrey
}.HOME
{
    color: darkblue;
}
.mutthu
{
    margin-right: 50px;
    margin-left: 175px;
}
.news1
{
    margin-left: 100px;
    width: 400px;
}
.news1 > h3
{
    color: brown;
    font-weight: bold;
}
.news1 > h2
{
    font-size: 16px;
}
.news1  > p
{
    font-size: 15px;
}
.news2
{
    margin-left: 600px;
    width: 400px;
    margin-top: -380px;
    font-size: 14px;
}
.news2 > h4
{
    font-size: 13px;
    margin-left: 90px;
    margin-top: -50px;
}
.news2 > h5
{
    font-size: 10px;
    margin-left: 90px;
    margin-top: -50px;
}
.news2 > h6
{
    font-size: 13px;
    margin-left: 90px;
    margin-top: -50px;
}
.news2 > h7
{
    font-size: 13px;
    margin-left: 120px;
    margin-top: -50px;
}